<div class="row">
  <h2>{{ title }}</h2>
  <div *ngFor="let item of users" class="col">
    <div class="card">
      <img [src]="item.avatar" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.first_name }} {{ item.last_name }}</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>
